html {
    --keyta-primary-color: #03224c;
    --keyta-secondary-color: #00aaba;
    --keyta-tertiary-color: #1a3d6e;
}

/* Disable the bouncing effect at the top and bottom of the page */
:root { overscroll-behavior: none; }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: var(--keyta-secondary-color) !important;
}

a.btn-primary {
    color: white !important;
    background-color: var(--keyta-primary-color);
    border-color: var(--keyta-primary-color);
}

li.page-item.active a.page-link {
    background-color: var(--keyta-secondary-color);
    color: white !important;
}

.alert-success a.active {
    color: white !important;
}

.alert-info {
    background-color: var(--keyta-secondary-color)
}

.alert-success {
    background-color: var(--keyta-secondary-color)
}

a.btn-success {
    color: white !important;
}

.btn-primary {
    background-color: var(--keyta-primary-color);
    border-color: var(--keyta-primary-color);
}

.btn-primary:hover {
    background-color: var(--keyta-secondary-color);
    border-color: var(--keyta-secondary-color);
}

.btn-success {
    background-color: var(--keyta-primary-color) !important;
    border-color: var(--keyta-primary-color) !important;
}

a.btn-danger {
    background-color: var(--keyta-primary-color);
    border-color: var(--keyta-primary-color);
    color: white !important;
}

.btn-success:hover {
    background-color: var(--keyta-secondary-color);
    border-color: var(--keyta-secondary-color);
}

.btn-success:active {
    background-color: var(--keyta-secondary-color) !important;
    border-color: var(--keyta-secondary-color) !important;
}

.btn-success:focus {
    background-color: var(--keyta-secondary-color) !important;
    border-color: var(--keyta-secondary-color) !important;
}

.dropdown-menu {
    right: 0 !important;
}

a.btn.btn-primary.dropdown-toggle {
    background-color: var(--keyta-primary-color);
    border-color: var(--keyta-primary-color);
}

a.btn.btn-primary.dropdown-toggle:hover {
    background-color: var(--keyta-secondary-color);
    border-color: var(--keyta-secondary-color);
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: var(--keyta-primary-color);
}

iframe.related-iframe {
    height: 85vh;
}

.modal.modal-wide .modal-dialog {
    width: 98vw;
    height: fit-content;
}

.field-value .vTextField {
    width: 500px;
}

.related-widget-wrapper-link {
    padding: 0;
}

.inline-group {
    overflow: visible
}

.tab-pane {
    overflow-x: visible
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: auto !important
}

.select2.select2-container {
    min-width: 180px;
}

.select2-selection--multiple .select2-selection__choice {
    padding-right: 10px !important;
}

.select2-container > .select2-dropdown > .select2-results > .select2-results__options {
    max-height: 360px;
}

.select2-selection--multiple .select2-selection__choice {
    background-color: var(--keyta-primary-color) !important;
    border: 0 !important;
}

.select2-selection--multiple .select2-selection__choice__remove {
    border: none !important;
    border-radius: 0 !important;
    color: white !important;
}

.select2-selection--multiple .select2-selection__choice__remove:hover {
    background-color: transparent !important;
}

#librarykeyword_form p, #keyworddocumentation_form p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.inline-deletelink {
    float: none !important;
}
