[buildout]
develop =
# This only works when called from a tox environment.
    ../..
    ../../test-packages/example.basetestpackage
    ../../test-packages/example.addon
    ../../test-packages/example.different
    ../../test-packages/example.different2
    ../../test-packages/example.metaoverrides
    ../../test-packages/example.plone-dash-addon
    ../../test-packages/example.ploneaddon
    ../../test-packages/example.ploneintegration
    ../../test-packages/example.zopeaddon
    ../../test-packages/example.zopeintegration
    ../../test-packages/example.multipleeps
    ../../test-packages/ExampleCamelCase
    ../../test-packages/namespaceexample.native
    ../../test-packages/namespaceexample.pkgutilns
parts =
    test-unit
    test-integration

[test-unit]
# Run the plone.autoinclude tests.
# This is the part that would also be run on Jenkins when we include this in coredev.
recipe = zc.recipe.testrunner
eggs =
    plone.autoinclude

[test-integration]
# Run the tests of the test-packages.
# This would be practically impossible to run on Jenkins.
recipe = zc.recipe.testrunner
eggs =
    example.basetestpackage
    example.addon
    example.different
    example.different2
    example.metaoverrides
    example.plone-dash-addon
    example.ploneaddon
    example.ploneintegration
    example.zopeaddon
    example.zopeintegration
    example.multipleeps
    ExampleCamelCase
    namespaceexample.native
    namespaceexample.pkgutilns

[versions]
zc.recipe.testrunner = 3.2
zc.recipe.egg = 3.0.0
