# Cycles use the order recommended on p. 6

[bright]
blue   = #4477AA
cyan   = #66CCEE
green  = #228833
yellow = #CCBB44
red    = #EE6677
purple = #AA3377
grey   = #BBBBBB
cycle =
    %(blue)s
    %(red)s
    %(green)s
    %(yellow)s
    %(cyan)s
    %(purple)s
    %(grey)s

[high-contrast]
white  = #FFFFFF
yellow = #DDAA33
red    = #BB5566
blue   = #004488
black  = #000000
cycle =
    %(blue)s
    %(yellow)s
    %(red)s

[vibrant]
blue    = #0077BB
cyan    = #33BBEE
teal    = #009988
orange  = #EE7733
red     = #CC3311
magenta = #EE3377
grey    = #BBBBBB
cycle =
    %(orange)s
    %(blue)s
    %(cyan)s
    %(magenta)s
    %(red)s
    %(teal)s
    %(grey)s

[muted]
indigo    = #332288
cyan      = #88CCEE
teal      = #44AA99
green     = #117733
olive     = #999933
sand      = #DDCC77
rose      = #CC6677
wine      = #882255
purple    = #AA4499
pale grey = #DDDDDD
cycle =
    %(rose)s
    %(indigo)s
    %(sand)s
    %(green)s
    %(cyan)s
    %(wine)s
    %(teal)s
    %(olive)s
    %(purple)s

[medium-contrast]
white        = #FFFFFF
light yellow = #EECC66
light red    = #EE99AA
light blue   = #6699CC
dark yellow  = #997700
dark red     = #994455
dark blue    = #004488
black        = #000000
cycle =
    %(light blue)s
    %(dark blue)s
    %(light yellow)s
    %(dark red)s
    %(dark yellow)s
    %(light red)s

[pale]
blue   = #BBCCEE
cyan   = #CCEEFF
green  = #CCDDAA
yellow = #EEEEBB
red    = #FFCCCC
grey   = #DDDDDD

[dark]
blue   = #222255
cyan   = #225555
green  = #225522
yellow = #666633
red    = #663333
grey   = #555555

[light]
light blue   = #77AADD
light cyan   = #99DDFF
mint         = #44BB99
pear         = #BBCC33
olive        = #AAAA00
light yellow = #EEDD88
orange       = #EE8866
pink         = #FFAABB
pale grey    = #DDDDDD
cycle =
    %(light blue)s
    %(orange)s
    %(light yellow)s
    %(pink)s
    %(light cyan)s
    %(mint)s
    %(pear)s
    %(olive)s
    %(pale grey)s